<p id="notice"><%= notice %></p>

<div class='row'>
  <%= link_to 'Edit', edit_profile_path(@profile) %>
</div>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @profile.objective %>
</p>

<p>
  <strong>Offerings:</strong>
  <%= @profile.offerings %>
</p>

