<p id="notice"><%= notice %></p>

<% if current_user.id == @profile.user_id  %>
  <div class='row'>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
  </div>
<% end %>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>Objective:</strong>
  <%= raw @profile.objective %>
</p>

<p>
  <strong>Offerings:</strong>
  <%= raw @profile.offerings %>
</p>

