<p id="notice"><%= notice %></p>

<h1>Listing Initiatives</h1>

<table class='table  table-bordered table-striped'>
  <% @initiatives.each do |initiative| %>
    <tr>
    <td>
      <li> <strong>Subject:</strong> <%= initiative.subject %> </li>
      <li> <strong>Tags</strong> <%= initiative.tags %> </li>
      <li> <strong>Source </strong> <%= initiative.source%> </li>
      <li> <strong> Owner </strong> <%= initiative.user.name %> </li>
      <li> <strong>Details:</strong> <%= initiative.details %> </li>
      <span> 
      <%= link_to 'Show', initiative_path(initiative) %> 
      <% if current_user == initiative.user  %>
        <%= link_to 'Edit', edit_initiative_path(initiative) %> 
        <%= link_to 'Destroy', initiative, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </span>
    </tr>
    <% end %>
</table>
<%= link_to 'New initiative', new_initiative_path %>

