<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @initiative.subject %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @initiative.tags %>
</p>

<p>
  <strong>Source:</strong>
  <%= @initiative.source %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @initiative.user.name%>
</p>

<p>
  <strong>Details:</strong>
  <%= @initiative.details %>
</p>

<% if current_user == @initiative.user  %>
  <%= link_to 'Edit', edit_initiative_path(@initiative) %> |
<% end %>
<%= link_to 'Back', initiatives_path %>

<ul class='c-comments-list'>
  <% @initiative.comments.each do |comment| %>
    <%= render :partial => 'partial/comment', locals: { comment: comment } %>
  <% end %>
</ul>

<div class='js-add-a-comment'>
  <div class-'js-new-comment'>
  </div>
</div>

<%= link_to 'Add a comment', new_comment_path(commentable_type: @initiative.class.to_s,
commentable_id: @initiative.id) %>
