<p id="notice"><%= notice %></p>

<h1>Listing Meetings</h1>

<table class='table  table-bordered table-striped'>
  <% @meetings.each do |meeting| %>
    <tr>
    <td>
      <%= link_to 'Show Details', meeting_path(meeting) %>
      <li> <strong>Subject:</strong> <%= meeting.subject %> </li>
      <li> <strong>Date:</strong> <%= meeting.date.strftime("%m-%d-%Y") %> </li>
      <li> <strong>Start time:</strong> <%= meeting.start_time.strftime("%H:%M") %> </li>
      <li> <strong>End time:</strong> <%= meeting.end_time.strftime("%H:%M") %> </li> 
      <span> <strong>Details:</strong> <%= meeting.details %> </span>
    </td>
    </tr>
    <% end %>
</table>

<%= link_to 'New Meeting', new_meeting_path %>
