<p id="notice"><%= notice %></p>

<h1>Listing Leads</h1>

<table class='table  table-bordered table-striped'>
  <% @leads.each do |lead| %>
    <tr>
    <td>
      <li> <strong>Subject:</strong> <%= lead.subject %> </li>
      <li> <strong>Tags</strong> <%= lead.tags %> </li>
      <li> <strong>Source </strong> <%= lead.source%> </li>
      <li> <strong> Owner </strong> 
      <%= link_to lead.user.name, profile_path(lead.user)%>
      </li>
      <li> <strong>Details:</strong> <%= lead.details %> </li>
      <span> 
      <%= link_to 'Show', lead_path(lead) %> 
      <% if current_user == lead.user  %>
        <%= link_to 'Edit', edit_lead_path(lead) %> 
        <%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </span>
    </tr>
    <% end %>
</table>
<%= link_to 'New lead', new_lead_path %>

